<footer class="site-footer">
  <div class="container footer-layout">
    <div>
      <strong>Vincent Harry H. Trayvilla</strong>
      <p>Bachelor of Science in Information Technology</p>
    </div>
    <p>&copy; <span data-current-year>2026</span> Vincent Harry H. Trayvilla. Academic portfolio.</p>
  </div>
</footer>
